/* makes geo suggest bar second priority */
.geo-suggest {
  position: relative !important;
  z-index: 80;
}
/* makes search bar highest priority */
.search-bar {
  position: relative !important;
  z-index: 100;
}

/* submit button on the form */
.submit-button {
  z-index: 40;
}
 