  .left-section   { grid-area: left-section; }
  .right-section  { grid-area: right-section;}

  .AppContainer {
    display: grid;
    grid-template-areas:
    'left-section left-section right-section';
    grid-template-columns: 1fr 1fr 1.5fr;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }

  .left-section {
    padding: 3%;
  }

  .right-section {
    padding: 8%;
    background-image: url("/background.jpg");
    background-position: center;
  }

  .AppContainer>div {
    text-align: center;
  }

  .fresh-header {
    height: 30vh !important;
  }

  .card-list {
    height: 100vh !important;
    overflow: scroll;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .new-post-fab {
    position: sticky !important;
    bottom: 20px !important;
  }

  .map-container {
    position: sticky !important;
    height: 60vh !important;
  }

  /* TODO: Refactor. This code does nothing right now. */
  /* .search-bar {
    z-index: 100;
    position: sticky !important;
    top: 50px !important;
  } */