.left-section {
  grid-area: left-section;
}
.right-section {
  grid-area: right-section;
}

.AppContainer {
  display: grid;
  grid-template-areas: "left-section left-section right-section";
  grid-template-columns: auto auto 625px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.AppContainer > div {
  text-align: center;
}

.left-section {
  padding: 3%;
}

.user-section {
  padding: 0;
  height: 0px;
  text-align: left !important;
}

.right-section {
  display: grid;
  padding: 8%;
  background-image: url("/background.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-size: cover;
}

.fresh-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 30vh !important;
}

.logo {
  height: 100px;
  align-self: center;
}

#SortButtons {
  height: 5vh !important;
  margin-top: 3%;
  margin-bottom: 3%;
  text-align: right !important;
}

.map-container {
  position: sticky !important;
  height: 63vh !important;
}

#CardList {
  height: 80vh;
  overflow: scroll;
}

#RefreshButton {
  float: left;
}

::-webkit-scrollbar {
  display: none;
}

.new-post-fab {
  position: sticky !important;
  bottom: 20px !important;
  z-index: 10;
}

.z-index-hidden {
  z-index: 0;
}

#login-buttons a,
.accounts-dialog a {
  text-decoration: none;
}

#footer {
  font-size: 10px;
  padding: 5px 0;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 5em;
}
